block config
    - var name = 'Simon'
    -var age = 30 


- var pageTitle = 'Homepage'
doctype 
html(lang="en")
    head   
        title #{pageTitle}

    body 
        block main
            h1 Hello World